doctype html
head
  meta(charset='UTF-8')
  title Landing Page
  link(rel='stylesheet' href='/css/stylel.css')
// partial:index.partial.html
.container
  .container_content
    .container_content_inner
      .title
        h1 Dockville Parking
      .par
        p
          | We are a parking you can TRUST. Park with us NOW
      .btns
        a(href='signup')
          button.btns_more   Get Started 
  .container_outer_img
    .img-inner
      img.container_img(src='https://images.unsplash.com/photo-1526726538690-5cbf956ae2fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80' alt='')
.overlay
// partial
